<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fa7761">  <td>22/05/16 09:48:13</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;MainClass.openchrome()[pri:0, instance:main.MainClass@5745ca0e]">&gt;&gt;openchrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@90567568</td>   <td></td> </tr>
<tr bgcolor="fa7761">  <td>22/05/16 09:48:49</td>   <td>36044</td> <td>&nbsp;</td><td title="&lt;&lt;MainClass.CloseBrowser()[pri:0, instance:main.MainClass@5745ca0e]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@90567568</td>   <td></td> </tr>
<tr bgcolor="fa7761">  <td>22/05/16 09:48:23</td>   <td>9814</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.loancount()[pri:2, instance:main.MainClass@5745ca0e]">loancount</td> 
  <td>main@90567568</td>   <td></td> </tr>
<tr bgcolor="fa7761">  <td>22/05/16 09:48:36</td>   <td>22964</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.closed()[pri:3, instance:main.MainClass@5745ca0e]">closed</td> 
  <td>main@90567568</td>   <td></td> </tr>
<tr bgcolor="fa7761">  <td>22/05/16 09:48:17</td>   <td>3935</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClass.login()[pri:1, instance:main.MainClass@5745ca0e]">login</td> 
  <td>main@90567568</td>   <td></td> </tr>
</table>
